* {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-image: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    text-align: right;
    padding: 200px 200px 150px 800px;
}

h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

.header-description {
    color: white;
    font-weight: lighter;
    margin-bottom: 25px;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
}

header button{
    color: #006DBA;
}


.failures{
    display: flex;
    align-items: center;
    margin: 100px 300px 80px 200px;
}

.my-failures{
    font-size: 40px;
    margin-bottom: 20px;
}
.failures-description{
    margin-bottom: 20px;
    color: gray;
}

ul{
    list-style-image: url("/images/icons/check-solid.svg");
    color: gray;
    padding: 0;
    margin: 10px;
}

li{
    margin: 10px 0px;
}

.my-plans{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.plans-elements{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 100px 200px;
}