* {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-image: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    text-align: right;
    padding: 200px 200px 150px 800px;
}

h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

.header-description {
    color: white;
    font-weight: lighter;
    margin-bottom: 25px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
}

header button {
    color: #006DBA;
}

/* My failures section */

.failures {
    display: flex;
    align-items: center;
    margin: 70px 300px 70px 200px;
}

.my-failures {
    font-size: 40px;
    margin-bottom: 20px;
}

.failures-description {
    margin-bottom: 20px;
    color: gray;
}

ul {
    list-style-image: url("/images/icons/check-solid.svg");
    color: gray;
    padding: 0;
    margin: 10px;
}

li {
    margin: 10px 0px;
}

hr {
    margin: 0 200px;
}

/* My plan section */

.my-plans {
    font-size: 40px;
    margin: 20px 0px;
    text-align: center;
}

.plans-elements {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 100px 200px;
}

.plans {
    text-align: center;
    font-size: 25px;
}

.plans p {
    color: gray;
}

/* about me */

.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 200px;
}

.about-me h2 {
    text-align: center;
}

.my-description {
    color: gray;
    padding: 20px 100px;
    text-align: center;
}

.about-me2 {
    background-color: #A8DCFF;
    height: 400px;
    width: 700px;
    text-align: center;
    border-radius: 20px;
    font-size: 50px;
    color: gray;
    padding: 0 120px;
    padding-top: 30px;
}

span {
    font-size: 70px;
}


/* banner section */

.banner {
    background-image: url("/images/watch.png"), linear-gradient(to right, #006DBA, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    margin: 100px 200px;
    height: 276px;
}

.banner h2 {
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 38px;
}

.banner button {
    margin-left: 50px;
    margin-top: 20px;
}

button {
    color: #006DBA;
}

/* footer */
footer {
    background-color: black;
    height: 500px;
    color: white;
}

footer {
    display: flex;
    justify-content: space-around;
}

.future {
    margin-top: 100px;
    margin-left: 200px;
    padding-right: 300px;
}

.future h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

.footer-description,
footer p {
    margin-bottom: 16px;
}

.future img {
    width: 36px;
    height: auto;
    margin-right: 10px;
}

.subscribe {
    margin-top: 100px;
    margin-right: 200px;
}

h3 {
    margin-bottom: 30px;
}


input {
    width: 300px;
    height: 50px;
    border: 2px solid gray;
    background-color: transparent;
    border-radius: 6px;
}

input::placeholder{
    font-size: 20px;
    padding-left: 16px;
    color: white;
    font-weight: 200;
}

footer button {
    color: white;
    background-color: #006DBA;
    margin-top: 20px;
}

/* This has added in the last moment, so I couldn't keep this on footer as existing footer css styles conflicting a lot. So I created a new div under footer  */
#copyright{
    background-color: black;
    color: gray;
    text-align: center;
    padding-bottom: 16px;
}